snippet function "inserts a function definition" b
function ${1:FUNCTIONNAME}( ${2:args} )
	${3:FUNCTIONBODY}
end
$0
endsnippet

snippet for "inserts a for loop" b
for ${1:ITERATOR}
	${2:LOOPBODY}
end
endsnippet

snippet struct "inserts a struct" b
struct ${1:NAME}
	${2:FIELD}
end
$0
endsnippet
